awscli~=1.33.18
certifi~=2024.7.4
check-manifest~=0.47
mypy~=1.10.1
myst-parser~=1.0.0
pip-tools~=7.4.1
pyroma~=4.2
pytest~=8.2.2
pytest-cov~=5.0.0
pytest-mock~=3.14.0
ruff~=0.5.0
sphinx-autoapi~=2.1.1
sphinx-rtd-theme~=2.0.0
types-PyYAML~=6.0.12
types-setuptools~=70.1.0
changelog-cli~=0.7.0
twine~=5.1.1
sphinx~=5.3.0
moto[all]>=4.0.13
networkx~=3.1.0
urllib3>=1.26.18
tox>=4.0.0