awscli~=1.27.0
black~=23.3.0
check-manifest~=0.47
flake8~=4.0.0
isort~=5.10.0
mypy~=0.931
myst-parser~=0.16.0
pip-tools~=6.12.1
pyroma~=3.2
pytest~=6.2.0
pytest-cov~=4.0.0
sphinx-autoapi~=1.8.0
sphinx-rtd-theme~=1.0.0
types-PyYAML~=6.0.0
types-setuptools~=57.4.0
changelog-cli~=0.7.0
twine~=3.8.0
sphinx~=4.3.0
moto[all]~=4.0.9
