{
    "context": {
        "release-pipeline": {
            "deployment-secret": {
                "secret-id": "aws-codeseeder-deployment-secrets",
                "json-fields": {
                    "github-oauth-token": "GitHubOAuthToken",
                    "slack-chatbot": "SlackChatbot",
                    "pypi-api-key": "PyPiApiKey"
                }
            },
            "github-owner": "awslabs",
            "github-branch": "stable"
        }
    }
}